.banner {
  position: relative;
  background-image:url('https://picsum.photos/1200/400');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
}

.overlay {
  color: white;
  max-width: 600px;
  margin-left: 50px;
}

.overlay h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 15px;
}

.overlay button {
  background-color: #0d6efd;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


/* me rindo, no funcionó... :steamsad: */